
dev/max/.DS_Store
dev/.DS_Store
.DS_Store
dev/monica/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
dev/monica/.ipynb_checkpoints/Infant Mortality vs Maternal Education-checkpoint.ipynb
dev/monica/.ipynb_checkpoints/Untitled-checkpoint.ipynb
dev/monica/Nat2018PublicUS.c20190509.r20190717.txt
mvp/Education Level vs Infant Mortality/.ipynb_checkpoints/Infant Mortality vs Maternal Education-checkpoint.ipynb
mvp/Education Level vs Infant Mortality/.ipynb_checkpoints/Infant Mortality vs Maternal Education-Copy1-checkpoint.ipynb
